---
azws2019:
  hosts:
    azws201901:
      ansible_host: ${azws201901-pip}
    azws201902:
      ansible_host: 1.1.1.1
  vars:
      ansible_user: ${azwinuser}
      ansible_password: ${azwinpass}
      ansible_connection: winrm
      ansible_winrm_server_cert_validation: ignore

azwin10:
  hosts:
    azwin1001:
      ansible_host: ${azwin1001-pip}
    azwin1002:
      ansible_host: 1.1.1.1
  vars:
      ansible_user: ${azwinuser}
      ansible_password: ${azwinpass}
      ansible_connection: winrm
      ansible_winrm_server_cert_validation: ignore
